@import "../../Helpers/variables";
@import "../../Helpers/mixins";

.expertise {
  min-height: 100vh;
  width: 100%;
  padding: $sectionPadding 0;
  background-color: #05171f;
  position: relative;
  .expertiseContainer {
    h1 {
      font-size: 38px;
      font-weight: 700;
      text-align: center;
      color: #fff;
      margin-bottom: 50px;
    }
    .expertises {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      @include mediaQuery(meduim) {
        flex-direction: row;
        gap: 60px;
      }
    }
  }
}
