$mainColor: #fe83c6;
$secondColor: #47b5ff;
$therdColor: #6f38c5;
$paragraphColor: #444444;
$paragraphColorLight: #f0f0f0;
$movementTransition: 0.5s ease-in;
$hoverTransition: 0.3s ease;
$backColorPrimary: #292929;
$backColorSecondary: #f6f6f6;
$sectionPadding: 40px;

$primaryBtn: #2192ff;
$secondaryBtn: #678983;
$successBtn: #3ccf4e;
$dangerBtn: #cd1818;
$warningBtn: #f3950d;
