@import "../../Helpers/mixins";
@import "../../Helpers/variables";

section.work {
  padding: $sectionPadding 0;
  background-color: $backGroundColor;
  min-height: 100vh;

  h1 {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
  }
}
